.border{
    border-style: solid;
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
    border-width: 1px;
    width: fit-content;
    text-align: center;
    padding: 10px 10px;
    margin: 20px auto;
    border-radius:10px;
}


